   /* body {
       background-color: powderblue;
   }

   h1 {
       color: #ff9933;
   }

   h2 {
       color: #ff9933;
   }

   img {
       border-radius: 50%;
   }

   hr {
       border-style: none;
       border-top-style: dotted;
       border-color: grey;
       border-width: 3.5px;
       width: 82%;
   } */

   h1 {
       color: red;
   }